#  This file is part of mdadm.
#
#  mdadm is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=MD array monitor
DefaultDependencies=no
Documentation=man:mdadm(8)

[Service]
# For Maintainers:
# We need to provide consistent mdmonitor configuration man page to the users. We don't want to get
# asked continuously how it can be configured.
# /etc/sysconfig/mdadm or /etc/sysconfig/mdmonitor or whatever else, should be abandoned.
# Following parameters should be customized via mdadm.conf only:
# - MONITORDELAY (do not set --delay in service)
# - MAILADDR (do not set --mail in service)
# - MAILFROM (not settable from cmdline)
# - PROGRAM (do not set --program or --alert in service)
#
# Following parameters can be customized in service:
# - --syslog (configure syslog logging)
# - --fork (Type=forking must be added, not recommended and not needed with systemd)
# - --pid-file (allowed only when --fork selected)
ExecStart=BINDIR/mdadm --monitor --scan
